body {
  background-color: g#f8f9fa;
}

h1 {
  color: #343a40;
}

form {
  border: 1px solid #dee2e6;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
